*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(0, 132, 255);
  font: 400 1rem arial;
}

header{
  color: white;
  text-align: center;

  & h1 {
    margin-block: 1rem;
  }
}

section{
  background-color: white;
  border-radius: 0.625rem;
  padding: 0.8rem;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
  display: grid;
  gap: 0.5rem;

  & p {
    text-align: center;
    margin-block: 0.9rem;
  }

  & #foto {
    display: grid;
    justify-content: center;
    & img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
    }
  }
}

footer{
  color: white;
  text-align: center;
  font-style: italic;
  margin-block: 1rem;

  & a {
    text-decoration: none;
    color: white;
  }
}
